[submodule "go-web-server"]
	path = go-web-server
	url = https://github.com/NeRF-or-Nothing/go-web-server.git
[submodule "nerf-worker"]
	path = nerf-worker
	url = https://github.com/NeRF-or-Nothing/nerf-worker.git
