*.pyc
.vscode
output
build
submodules/diff_rasterization/diff_rast.egg-info
submodules/diff_rasterization/dist
submodules/simple-knn/simple_knn.egg-info
submodules/simple-knn/dist
tensorboard_3d
screenshots
data/*
.prettierrc
test_env/*